.body-container{
    width: 70vw;
    height: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    margin:2rem auto;
    flex-direction: column;
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
}

.filter-select-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  .filter-icon {
    margin-right: 8px;
    font-size: 1.5em;
  }
  
  select {
    padding: 5px;
    font-size: 1em;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    outline: none;
    border: none;
    
  }

  .select option:hover {
    background-color: lightgray;
    
  }

  .time-range-modal-trigger{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
  }

  .date-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }